@model IEnumerable<cscoreweb.Data.Entities.Article>

<html>
<head>
    <title>Articles</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <h2>Articles</h2>
    
    <div class="list">
    @foreach (var article in @Model)
    {
        <div class="listitem">
        <h3 >@article.Title</h3>
        <p>@article.Content</p>
        </div>
    }
</div>
</body>
</html>