@model IEnumerable<cscoreweb.Data.Entities.Article>

<html>
<head>
    <title>Articles</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <h2>Articles</h2>
    <div 
    <div class="list">
    @foreach (var article in @Model)
    {
        <h3>@article.Title</h3>
        <p align="center">@article.Content</p>
    }
</div>
</body>
</html>