@model IEnumerable<cscoreweb.Data.Entities.Article>

<html>
<head>
<title>Home Index</title>
</head>
<body>
<div class="float-left">
<partial name="AddArticle.cshtml" />
</div>
<div class="text-center">
@await Html.PartialAsync("articles", @Model);
</div>
 <div class="text-right"></div>
</body>
</html>