@model IEnumerable<cscoreweb.Data.Entities.Article>

<html>
<head>
    <title>Articles</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="row">
        <div class="column">
        <partial name="AddArticle.cshtml" />

        </div>
        <div class="column">
            @await Html.PartialAsync("articles", @Model)

        </div>
    </div>


</body>
</html>